.QR-orderbutton {
    width: 35%;
    height: 20vh;
    font-size: 1.3rem;
    margin: 1.5vw;
    background-color: rgba(226, 222, 222, 0.274);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #11472ab6;
    font-family: 'Noto Sans KR', sans-serif;
}

.QR-buttonicon {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 250% !important;
    margin-bottom: 1vh;
    clear: none;
}

.QR-orderbutton:hover {
    background-color: #0c6234;
    color: rgba(255, 255, 255, 0.747);
}

.QR-button-container {
    text-align: center;
    padding-top: 14vh;
    color: black;
}

#save {
    margin-right: 4vw;
}
