.Topbar {
    height: 3vh;
    background-color: rgba(168, 161, 161, 0.13);
    border-bottom-style: solid;
    border-bottom-color:rgba(85, 85, 85, 0.089);

    font-size: 1.8vh;
    padding-left: 1%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}