.option {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 98%;
    animation: slider .5s;
    z-index: 999;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

.option-content{
    height: 90%;
    overflow: scroll;
}

.option-header {
    height: 50px;
    width: 95%;
    margin-top: 20px;
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
}

.option-close {
    background-color: rgba(255, 255, 255, 0.579);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@keyframes slider {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

.option-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.option-beverage {
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.option-sort {
    width: 85%;
    margin: 0px auto;
    padding-bottom: 30px;
}

.option-name {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 15px;
}

.option-price-radio {
    display: flex;
    margin-bottom: 10px;
}

[type='radio'] {
    appearance: none;
    border: 2px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

[type='radio']:checked {
    border: 7px solid #0c6234;
}

.option-price-text {
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: space-between;
    font-size: 18px;
}

.option-btn {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 10px;
}

.option-btn-qr {
    border: none;
    border-radius: 25px;
    background-color: #0c6234;
    width: 47%;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-btn-cart {
    border: 1px solid #0c6234;
    border-radius: 25px;
    background-color: white;
    width: 47%;
    color: black;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}