.cart-item {
    display: flex;
    width: 90%;
    height: 150px;
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid rgba(158, 158, 158, 0.367);
}

.cart-item-img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 15px;
}

.cart-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-item-name {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 3px;
}

.cart-item-option {
    margin-right: auto;
    font-weight: 500;
    color: gray;
    margin-bottom: 18px;
}

.cart-item-delete {
    border: none;
    background-color: inherit;
    color: gray;
    margin-left: auto;
    font-size: 18px;
}

.cart-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.cart-item-quantity {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-quantity-text {
    font-size: 18px;
    font-weight: 500;
}

.cart-item-quantity-btn {
    border: 1px solid black;
    background-color: inherit;
    border-radius: 50%;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0px;
}

.cart-item-price {
    font-size: 20px;
    font-weight: 500;
}

.cart-item-quantity-btn:disabled {
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
}